# Activer la réécriture d'URL
RewriteEngine On

# Si le fichier ou le dossier existe, ne pas rediriger
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers index.html
RewriteRule ^ index.html [L]
